* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  background-color: #C1CAA4; }

.btn-primary {
  background-color: green; }

.btn-primary:hover {
  background-color: #779677; }

.btn-primary:active {
  background-color: #3c813c; }

.logo {
  width: 75px;
  height: auto;
  justify-content: center; }

nav {
  display: flex;
  justify-content: space-between; }
  nav a {
    display: block;
    padding: 0 10px;
    color: green;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none; }
  nav .collapse {
    font-family: 'Days One', sans-serif; }

.container-right {
  display: flex; }
  .container-right div {
    padding: 0 20px; }

.bars {
  color: black;
  background: none;
  border: none;
  padding: 0 20px;
  font-size: 30px;
  display: none; }

@media (max-width: 768px) {
  .container-right {
    flex-direction: column; }
  .first-ul {
    display: block; } }

nav a:hover {
  background-color: #92cc92; }

.container-fluid {
  background-color: #78B078; }
  .container-fluid .dropdown-menu {
    background-color: #78B078;
    position: relative;
    margin: auto;
    scale: 1, 1; }

.btn {
  background-color: #78B078; }

.img1 {
  border: 1px black solid;
  width: 150%;
  height: 100%;
  align-self: center;
  justify-self: flex-start;
  grid-column: 1 / 4; }

img {
  width: 100%;
  height: 100%; }

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(/imagenes/background-footer.svg);
  background-size: cover; }
  footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px; }
    footer .container-footer .box-footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .container-footer .box-footer .logo {
        width: 180px; }
    footer .container-footer h2 {
      margin-bottom: 30px;
      color: #343434;
      font-weight: 700;
      background: none; }
    footer .container-footer a {
      margin-top: 10px;
      color: black;
      font-weight: 600; }
    footer .container-footer a:hover {
      opacity: 0.8; }
    footer .container-footer .fab {
      font-size: 20px; }

.box-copyright {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px; }
  .box-copyright p {
    margin-top: 20px;
    color: black;
    text-align: center; }
  .box-copyright hr {
    border: none;
    height: 1px;
    color: black; }

.nosotros {
  text-align: justify; }

.img-nosotros {
  width: 400px;
  height: 400px;
  margin-bottom: 50px; }

.container-img-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

h1 {
  background-color: #91B57B;
  text-align: center; }

h2 {
  background-color: #E3E1B6; }

h3 {
  background-color: #D6CEA3;
  font-family: 'Allerta', sans-serif;
  text-align: justify; }

h4 {
  background-color: #D6CEA3; }

p {
  font-family: 'PT Serif Caption', serif;
  text-align: left;
  padding: 15px;
  font-style: normal;
  letter-spacing: 1px;
  color: black; }

.vege .list-group {
  background-color: black; }

.vege .vege-resumen {
  padding: 30px;
  border: 30px;
  letter-spacing: 1px;
  font-family: 'Rasa', serif;
  padding: 30px;
  margin: 5px;
  font-size: larger; }

.vege .vege-texto p {
  text-align: justify; }

.vege .container-img-vege {
  display: flex;
  justify-content: center; }
  .vege .container-img-vege .img-vege {
    width: auto;
    height: 50%;
    padding: 45px; }

.vege p {
  text-align: justify;
  font-size: 17px;
  font-style: italic; }

.flora {
  text-align: justify; }

.container-img-semana {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .container-img-semana .img-semana1 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana .img-semana2 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana .img-semana3 {
    width: 380px;
    height: 380px;
    padding: 20px;
    margin: 5px; }

.container-pistilo {
  display: flex;
  justify-content: center; }
  .container-pistilo .img-pistilo {
    width: 70%;
    height: 20%;
    padding: 20px;
    margin: 5px; }

.container-img-semana6 {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }

.container-follaje {
  display: flex;
  justify-content: center; }
  .container-follaje .img-follaje {
    width: 50%;
    height: 20%;
    padding: 20px;
    margin: 5px; }

.container-img-semana4 {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  .container-img-semana4 .img-semana5 {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 5px; }
  .container-img-semana4 .img-semana4 {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 5px; }

.consejo-flora {
  font-family: 'Rasa', serif; }

.glosario .texto-glosario-inicial {
  font-size: 20px;
  margin: 5px;
  padding: 2px;
  font-style: italic; }

.glosario .texto-glosario-indice {
  font-size: 17px;
  margin: 5px;
  padding: 2px;
  font-style: italic; }

.glosario .texto-glosario {
  padding: 20px;
  margin: 10px;
  font-style: italic;
  font-size: 17px;
  text-align: justify; }

.glosario .container-glosario .container-img-glosario {
  display: flex;
  justify-content: center; }
  .glosario .container-glosario .container-img-glosario .glosario-img {
    width: 100%;
    height: auto; }

.glosario .list-group-glosario {
  display: flex;
  flex-direction: row; }

.container-ferti {
  padding: 20px;
  margin: 8px; }
  .container-ferti .imagen-nombre {
    width: 100%;
    background: white;
    padding: 20px;
    margin: 10px; }
    .container-ferti .imagen-nombre figure img {
      width: auto;
      display: flex;
      margin: auto; }

.container-plaga li {
  padding: 10px;
  margin: 5px; }

.container-plaga .container-texto {
  padding: 20px;
  font-size: 17px; }

.container-plaga .container-texto-principal {
  padding: 20px;
  font-size: 20px;
  font-style: italic; }

.container-plaga .container-imagen-plaga {
  display: flex;
  justify-content: center;
  margin: 30px; }
  .container-plaga .container-imagen-plaga .plaga-img {
    width: 50%;
    height: 50%; }

.container-plaga .row {
  width: 100%; }

.container-plaga .plaga-list {
  font-family: 'Rasa', serif;
  font-size: larger; }

.carousel-item .img-box {
  width: 100%; }

.carousel-item img {
  object-fit: cover; }

p {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.container-mosca-imagen {
  justify-self: left; }

figcaption {
  font-family: 'Encode Sans Condensed', sans-serif; }

@media (max-width: 798px) {
  .container-img-nosotros {
    flex-direction: column; }
  .img-nosotros {
    width: 100%; }
  .flora .container-img-semana {
    flex-direction: column; }
    .flora .container-img-semana figure {
      width: 100%;
      margin: 0; }
  .container-ferti .imagen-nombre {
    margin: 0; }
    .container-ferti .imagen-nombre figure img {
      width: 50%; }
  .list-group-glosario {
    flex-direction: column; } }

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 80%, 80%;
  border-radius: 30%;
  border: 1px solid black; }

@media (max-width: 1024px) {
  .flora .container-img-semana1 {
    flex-direction: column; }
    .flora .container-img-semana1 figure {
      width: 100%;
      margin: 0; } }

.list-group {
  font-family: 'Bakbak One', cursive; }
  .list-group .list-group-item {
    background-color: #C1CAA4;
    border: 1px solid black; }
